<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a id="TransformNav">
                <span class="glyphicon glyphicon glyphicon-align-justify nav-btn" aria-hidden="true"></span>
            </a>
            <a class="navbar-brand" href="#">Delivery Management</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="Index.html">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar show-nav" id="SideBar">
            <ul class="nav nav-sidebar" id="childNode" style="display:block">
                <li class="active"><a href="Index.html">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Project</a></li>
                <li><a href="Delivery.html">Delivery</a></li>
                <li><a href="#">Documentations</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </div>
    </div>
</div>
